<%= render "shared/modal" %>
<%= link_to "Add a movie", '#',  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#newbookmark', class: 'nav-link'} %>
<%= link_to "Edit list", {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#list', class: 'nav-link'} %>
<%= link_to "Delete",
    list_path(@list),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<div class="container">
<% @list.bookmarks.each do |bookmark| %>
  <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
    <img src=<%= bookmark.movie.poster_url %> alt="<%= bookmark.movie.title %>" width="200"><br>
  <% end %>
  <%= bookmark.movie.title %><br>
  <%= bookmark.comment %>
<% end %>
</div>
