<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= render "layouts/modal" %>
    <nav class="navbar bg-dark justify-content-between sticky-top">
      <%= link_to "Lists", root_path, class: "btn btn-primary mx-3" %>
      <%= link_to "New List", '#', {class: "btn btn-primary mx-3", :remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#addlist'} %>
    </nav>
    <%= yield %>
    <footer class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </footer>
  </body>
</html>
