<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-dark justify-content-between">
      <button><%= link_to "Lists", lists_path %></button>
      <button><%= link_to "New List", new_list_path %></button>
    </nav>
    <%= yield %>
  </body>
</html>
